@charset "utf-8";

/* 
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Alex A Somoza
    Date: 10-26-18    

   Filename:         pcg_paper.css
   Supporting Files: 

*/


/* html styles */
/* The code below holds style rules for the html element. This code adjusts the look of the background color. */
html {
    background-color: hsl(49, 41%, 69%);
    height: 100%;
}



/* body styles */
/* The code below holds style rules for the body element. This code adjusts the position and look of the body element.*/
body {
    background-color: rgb(233, 232, 233);
    padding: 10px 2em 10px 2em;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    min-width: 640px;
    width: 95%;
}

body::after {
    clear: both;
    content: "";
    display: table;
}


/* header styles */
/* The code below holds style rules for the header element and all elements nested inside. This code adjusts the position and look of the header elements.*/
body header img {
    display: block;
    width: 100%;

}

h3 {
    text-align: center;
}

h3#cougarFont {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3#highwayFont {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


aside h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}



/* Navbar container */
/* The code below holds style rules for nav code. This code adjusts the position and look of the nav adn hypertext links.*/
.navbar {
    overflow: hidden;
    background-color: rgb(77, 51, 25);
    font-family: "Lucida Sans Typewriter", serif;
    font-weight: bold;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
/* The code below holds style rules for the links in the nav.This code adjusts the position and look of the links in the nav.*/
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
/* The code below holds style rules for the dropdown button. This code adjusts the position and look of the dropdown button. */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(211, 166, 120);
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(224, 191, 159);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}




/* article styles */
/* The code below holds style rules for the article element. This code adjusts the position and look of the article element  */
article {
    position: relative;
    clear: both;
    padding: 0px 2% 0px 2%;
}

article#localMarathon {
    width: 46%;
    float: left;
    display: inline-block;
}

article#highway {
    width: 46%;
    display: inline-block;
    padding-bottom: 50px;


}

article#cougar {
    width: 46%;
    display: inline-block;
    clear: both;
    float: left;
}

article {
    text-indent: 2em;
}

/* p styles */
/* The code below holds style rules for paragraph elements. This code adjusts the position and look of the paragraphs.*/

p {
    clear: left;
    display: block;
}

/* aside styles */
/* The code below holds style rules for aside element. This code adjusts the position and look of the aside element.  */
aside {
    display: inline;
    float: right;
    width: 46%;
    line-height: 1.8em;

}

aside {
    text-indent: 2em;
}


/* footer styles */
/* The code below holds style rules for the footer element. This code adjusts the position and look of the footer */
footer {
    clear: both;
    display: block;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* hr styles */
/* The code below holds style rules for the hr elements. It gives style rules to adjust the look of the line.  */

hr {
    width: 75%;
}